body {
  position: absolute;
    margin: 0px;
    /* overflow: hidden; */
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-image: url('./images/dark-background-4.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left top; 

    
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
